<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <outboundRules>
          <clear />
          <rule name="Add SameSite" preCondition="No SameSite">
            <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
            <action type="Rewrite" value="{R:0}; SameSite=none" />
            <conditions></conditions>
          </rule>
          <preConditions>
            <preCondition name="No SameSite">
              <add input="{RESPONSE_Set_Cookie}" pattern="." />
              <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=none" negate="true" />
            </preCondition>
          </preConditions>
        </outboundRules>
      </rewrite>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\MyLibrary.WebApp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 6806A12F-53F0-45E4-B219-875145217078-->